#subText{
    width: 960px;
    margin-left: 250px;
}

header{
    height: 130px;
}

nav {
    float: left;
}

p {
    width: 960px;
    margin: 0 auto;
    line-height: 20px;
}

#text {
    width: 960px;
    margin: 0 auto;
    padding: 60px;
    padding-top: 10px;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 0 0 20px #67140b;
    background-color: white;
}

main {
    /* background-color: white; */
    background-image: url("../assets/Ironstone-Vineyard-in-Murphys.jpg");
    /* background-repeat: repeat; */
    background-size: cover;
    background-color: #e5951a ;
    overflow: auto;
}

#btn3{
    background-color: #67140b;
    border-bottom: 3px solid #e5951a;
}

main h1{
    color: #e5951a;
    padding: 25px;
    padding-left: 35px;
    width: 750px;
    margin: 0 auto;
    background-color: lightgray;
    border-radius: 10px;
    /* overflow: hidden; */
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 20px;
    box-shadow: 0 0 20px #67140b;

}

#quote {
    color: #e5951a;
    padding: 25px;
    padding-left: 35px;
    padding-top: 20px;
    width: 750px;
    margin: 0 auto;
    background-color: lightgray;
    border-radius: 10px;
    /* overflow: hidden; */
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 0 0 20px #67140b;
}

#quote cite{
    font-size: 22px;
}

#philosophy {
    width: 960px;
    margin: 0 auto;
    padding: 60px;
    padding-top: 20px;
    border-radius: 10px;
    margin-top: 75px;
    box-shadow: 0 0 20px #67140b;
    background-color: white;
    margin-bottom: 50px;
    
}

#philosophy p{
    font-size: 18px;
    line-height: 26px;
}

#text p{
    font-size: 18px;
    line-height: 26px;
}


h2 {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    padding: 20px;
    color: #e5951a;
    font-size: bold;
}


footer {
    position: relative;
    /* display:fixed; */
    width: 100%;
    background-color: #f5f5dc;
    height: 50px;
    bottom:0px;
  }
  
  address {
    width: 50%;
      text-align: center;
      margin: auto;
      padding-top: 1%;
      color: #67140b;
      font-weight: bold;
  }