#subText{
    width: 960px;
    margin-left: 250px;

}

header{
    height: 130px;
}

nav {
    float: left;
}

p {
    width: 960px;
    margin: 0 auto;
    line-height: 20px;
    
}

#text {
    width: 960px;
    margin: 0 auto;
    padding: 60px;
    border-radius: 10px;
    margin-top: 100px;
    box-shadow: 0 0 20px #67140b;
    background-color: white;
}

main {
    /* background-color: white; */
    height: 450px;
    background-image: url("../assets/corks.jpg");
    overflow: hidden;
}