#subText{
    width: 960px;
    margin-left: 250px;
}

nav {
    float: left;
}

  header{
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 2;
      height: 130px;
  }

main h1{
      color: #e5951a;
      padding: 25px;
      padding-left: 35px;
      width: 750px;
      margin: 0 auto;
      background-color: lightgray;
      border-radius: 10px;
      overflow: hidden;
      margin-top: 100px;
      margin-bottom: 100px;
      font-size: 20px;
      box-shadow: 0 0 20px #f5f5dc;
  }


p {
    width: 960px;
    margin: 0 auto;
    line-height: 20px;
    
}

#chart {
    width: 960px;
    margin: 0 auto;
    max-height: 300px; /* ARE WE SURE WE WANT THIS???? */
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    height: 900px;
}

main {
    background-image: url("../assets/bar.jpg");
    background-repeat: repeat;
    z-index: -1;
    overflow: auto;
}

#btn2{
    background-color: #67140b;
    border-bottom: 3px solid #e5951a;
}

/* 
.chartjs-render-monitor{
    height: 100px;
} */
 
.chart-container{
    /* height:40vh; 
    width:80vw; */
    height: 400px;
    width: 960px;
    margin: 0 auto;
    background-color: white;
    overflow: auto;
    margin-top: 25px;
    border-radius: 10px;
    margin-bottom: 75px;
    box-shadow: 0 0 20px #67140b;
}

#renderChart ul {
  width: 800px;
  margin: 0 auto;
  margin-right: 0px;
    
}

#renderChart h1 {
    width: 300px;
    margin: 0 auto;
    text-align: center;
      
  }

  #renderChart ul {
    width: 900px;
    margin: 0 auto;
    margin-left: 428px;
    margin-top: 20px;
  }