#subText{
    width: 960px;
    margin-left: 250px;

}

nav {
    float: left;
}

header{
    height: 130px;
}


p {
    width: 960px;
    margin: 0 auto;
    line-height: 20px;
    
}

#chart {
    width: 960px;
    margin: 0 auto;
    padding: 60px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 20px #67140b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main {
    /* background-color: white; */
    height: 450px;
    background-image: url("assets/MyFirstBoard.jpg");
}