header{
    width: 100%;
    margin: 0 auto;
}

#subText{
    width: 960px;
    margin-left: 250px;
}

p {
    width: 960px;
    margin: 0 auto;
    line-height: 20px;
}

#add-drink {
    width: 960px;
    margin: 0 auto;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 20px #67140b;
    margin-top: 4em;
    background-color: white;

}

#login{
    display: inline-block ;
}

#welcome{
    display: none;
}

main {
    /* background-color: white; */
    height: 450px;
    overflow: hidden;
    background-image: url("../assets/beer.jpg");
}

header{
    height: 130px;
}

button {
    display: inline;
    margin: 15px;
    background-color: #67140b;
    color: #e5951a;
    padding: 8px;
    font-weight: bolder;
    border-color: #67140b;
    border-radius: 5px;
    margin-left: 0em;
    font-size: 18px;
} 

button:hover{
    background-color: #dd1717;
    color: #67140b;
    border-color: #dd1717;
    border-radius: 5px;
}


nav {
    float: left;
}

input[type=text]:focus {
    border: 1px solid #ccc;
    background-color: lightgray;
  }

  textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

  legend{
      font-size: 18px;
      margin: 10px;
      margin-left: 0px;
  }

  #abv {
      width: 40px;
  }

  #score {
    width: 40px;
}

#btn1{
    background-color: #67140b;
    border-bottom: 3px solid #e5951a;
    font-size: 22px;
}