
header{
    width: 100%;
    margin: 0 auto;
}

#subText{
    width: 960px;
    margin-left: 250px;
}

p {
    width: 960px;
    margin: 0 auto;
    line-height: 20px;
}

#add-drink {
    width: 960px;
    margin: 0 auto;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 20px #67140b;
    margin-top: 4em;
    background-color: white;
    overflow: hidden;
}

form{
    overflow: hidden;
}

#loginForm{
    /* display: inline-block; */
    float: right;
}

#login {
    position: relative;
    bottom: 18px;
    right: 60px;
}

#welcome{
    position: relative;
    left: 800px;
    bottom: 70px;
    display: none;
}

#welcomeMsg{
    display: inline-block;
}

#mainDiv {
    margin-top: 100px;
    background-image: url("../assets/beer.jpg");
 
    
}

main {
    /* background-color: white; */
   /* min-height: auto;  */
   overflow: auto;
 
    
  
}

header{
    height: 130px;
}

button {
    display: inline;
    margin: 15px;
    background-color: #67140b;
    color: #e5951a;
    padding: 8px;
    font-weight: bolder;
    border-color: #67140b;
    border-radius: 5px;
    margin-left: 0em;
    font-size: 18px;
} 

button:hover{
    background-color: #dd1717;
    color: #67140b;
    border-color: #dd1717;
    border-radius: 5px;
}


nav {
    float: left;
}

input[type=text]:focus {
    border: 1px solid #ccc;
    background-color: lightgray;
  }

textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

legend{
    font-size: 18px;
    margin: 10px;
    margin-left: 0px;
}

#abv {
    width: 40px;
}

#score {
    width: 40px;
}

#btn1{
    background-color: #67140b;
    border-bottom: 3px solid #e5951a;
    font-size: 22px;
}

#drinkTable {
    width: 1024px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0 0 10px #f5f5dc;
    height: 400px;
    
}

#outerDrinkTable{
    background-image: url("../assets/beer.jpg");
    height: 600px;
    overflow: auto;
    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

  header{
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
  }



hr {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: #f5f5dc;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr:before { 
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #f5f5dc;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

#divider{
    height: 50px;
    background-color: #67140b;
    /* box-shadow: 0 0 10px #f5f5dc; */
    width: 630px;
    margin: 0 auto;
}

#divOuter{
    height: 50px;
    background-color: #67140b;
    box-shadow: 0 0 10px #f5f5dc;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}


form{
    padding-bottom: 200px;
}