header{
    width: 100%;
    margin: 0 auto;
}

#subText{
    width: 960px;
    margin-left: 250px;
}

p {
    width: 960px;
    margin: 0 auto;
    line-height: 20px;
}

#beer-drink, #wine-drink {
    width: 960px;
    margin: 0 auto;
    padding: 2em;
    margin-top: 5em;
    margin-bottom: 5em;
    border-radius: 10px;
    box-shadow: 0 0 20px #67140b;
    background-color: white;
    overflow: auto;
    display: none;
}

#formControl{
    margin-left: 550px;
}

form{
    overflow: auto;
}

#loginForm{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    margin-left: 50%;
    padding: 50px 70px 70px 70px;
    width: 50%;
    height: fit-content;
    top: 20%;
    transform: translate(-50%, 0);
    text-align: center;
    background-color: #f5f5dc;
    vertical-align: middle;
}

#loginForm p {
    width: fit-content;
}

#loginForm h3 {
    margin-bottom: 30px;
}

#login {
    padding: 0;
}

#usernameInput {
    display: inline;
    margin: 15px;
    padding: 8px;
    border-radius: 5px;
    font-size: 18px;
}

#darken {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 50%;
    z-index: 4;
}

#welcome{
    position: relative;
    left: 800px;
    bottom: 70px;
    display: none;
}

#welcomeMsg{
    display: inline-block;
}

#mainDiv {
    margin-top: 120px;
    /* background-image: url("../assets/hops-and-beer-social.jpg"); */

    background-image: url("../assets/hops-and-beer-social.jpg");
}

main {
    /* background-color: white; */
   overflow: auto;
}

header{
    height: 130px;
}

/*Add New Drink Button*/
button {
    display: inline;
    margin: 15px;
    background-color: #67140b;
    color: #e5951a;
    padding: 8px;
    font-weight: bolder;
    border-color: #67140b;
    border-radius: 5px;
    margin-left: 0em;
    font-size: 18px;
} 

button:hover{
    background-color: #dd1717;
    color: #67140b;
    border-color: #dd1717;
    border-radius: 5px;
}

/* Add New Drink Button =================*/

nav {
    float: left;
}


/* Input form */
input[type=text]:focus {
    border: 1px solid #ccc;
    background-color: lightgray;
  }

textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

    legend{
        font-size: 18px;
        margin: 10px;
        margin-left: 0px;
    }

    #abv {
        width: 40px;
    }

    #score {
        width: 40px;
    }

    #btn1{
        background-color: #67140b;
        border-bottom: 3px solid #e5951a;
        font-size: 22px;
    }
/* Input form============================= */


#drinkTable {
    width: 1024px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0 0 10px #f5f5dc;
    height: 400px;
    
}

#outerDrinkTable{
    /* background-image: url("../assets/beer.jpg"); */
    background-color: #f5f5dc;
    height: 600px;
    overflow: auto;
}

/* .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  } */

  header{
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
  }


form{
    padding-bottom: 200px;
}

/* #indexQuote{
    color: #e5951a;
    padding: 25px;
    padding-left: 35px;
    width: 750px;
    margin: 0 auto;
    background-color: lightgray;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 100px;
} */

#indexQuote{
    display: inline-block;
    width: 830px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: lightgray;
    border-radius: 10px;
    /* overflow: hidden; */
    clear: both;
    z-index: 2;
    margin-left: 205px;
    padding: 20px;
}

 #indexQuote em{
    color: #e5951a;
    margin: 0 auto;
    font-size: 20px;
    clear: both;
    font-weight: bolder;

}

/* below is not working for some reason, though you'd think it should
good news is, outDiv, or something like that, does work */
/* #bottomImg{ 
    background-color: #f5f5d;
} */

.backgroundImg1{
    background-color: #f5f5dc;
    overflow: auto;
  }