/* 

https://www.color-hex.com/color-palette/7709 

background-color: #dd1717;	
background-color: #f4460b;	
background-color: #940b0b;	
background-color: #67140b;	
background-color: #e5b21a;

background-color: rgb(221,23,23);
background-color: rgb(244,70,11);
background-color: rgb(148,11,11);
background-color: rgb(103,20,11);
background-color: rgb(229, 178, 26);

<link href="https://fonts.googleapis.com/css?family=Anonymous+Pro|Lemonada|PT+Serif&display=swap" rel="stylesheet">

font-family: 'Anonymous Pro', monospace;
font-family: 'PT Serif', serif;
font-family: 'Lemonada', cursive;
*/

body {
  font-family: 'Lato', sans-serif;
}

header {
  display:fixed;
  width: 100%;
  background-color: #f4460b;
  height: 100px;
  position:absolute;
  top: 0;
}

a {
  text-decoration:none;
  color: #e5951a;
  font-weight:bolder;
  font-size: 22px;
  text-shadow:1px 1px #67140b;
  background: white;
  border-radius: 3px;
  padding: 5px;
  padding-right: 8px;
}

a:active {
  background-color: yellow;
  border-bottom: limegreen;
}


a:focus {
  background-color: yellow;
  border-bottom: limegreen;
}

a:target {
  background-color: yellow;
  border-bottom: limegreen;
}



#logo {
  float: left;
  height: 90px;
}

nav {
  height: 25px;
  width:500px;
  margin:auto;
  display:flex;
  justify-content:center;
}

nav ul {
  display: inline-block;
  margin:auto;
  width:100%;
}

nav ul li {
  display: inline-block;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
}

#subText {
  width:960px;
  margin:auto;
}

main {
  margin-top: 100px;
}

h1 {
  width:100%;
  font-size: 2em; 
  font-family: 'Abril Fatface', cursive;
  margin: auto;
  color: black;
  margin-top: 16px;
}

h3 {
  font-size: 1.5em;
  font-family: 'PT Serif', serif;
  color: #67140b;
}

h4 {
  font-size: 1.25em;
  font-family: 'Anonymous Pro', monospace;
  color: #67140b;
}

label {
  font-family: 'Lato', sans-serif;
}

footer {
  position:absolute;
  display:fixed;
  width: 100%;
  background-color: #f4460b;
  height: 50px;
  bottom:0px;
}

address {
  width: 50%;
    text-align: center;
    margin: auto;
    padding-top: 1%;
}